<%- include('partials/nav')%> 
<section class="about-area ">
    <div class="container mt-5 mb-5">
      
                <h2 class=" display-4 text-uppercase pt-5">
                    <span>Create</span> task
                    
                </h2>
                <div class="paragraph py-4 w-75">
                    <p class="para">
                        <form action="/update/<%= data.id %>" method="post">
                            <div class="form-group">
                              <label for="name">Name</label>
                              <input type="text" class="form-control" value="<%= data.nameAnimal %>"  name="nameAnimal" id="name" aria-describedby="nameHelp">
                              <small id="nameHelp" class="form-text text-muted">We'll never share your name with anyone else.</small>
                            </div>
                            <div class="form-group">
                              <label for="raze">Raze</label>
                              <input type="text" class="form-control" value="<%= data.raze %>" name="raze" id="raze" aria-describedby="nameHelp">
                              <small id="raze" class="form-text text-muted">We'll never share your name with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label for="age">Age</label>
                                <input type="text" class="form-control" value="<%= data.age %>" name="age" id="age" aria-describedby="nameHelp">
                                <small id="age" class="form-text text-muted">We'll never share your name with anyone else.</small>
                              </div>
                              <div class="form-group">
                                <label for="dad">Dad</label>
                                <input type="text" class="form-control" value="<%= data.animalDad %>" name="animalDad" id="dad" aria-describedby="nameHelp">
                                <small id="dad" class="form-text text-muted">We'll never share your name with anyone else.</small>
                              </div>
                              <div class="form-group">
                                <label for="mom">Mom</label>
                                <input type="text" class="form-control" value="<%= data.animalMom %>" name="animalMom" id="mom" aria-describedby="nameHelp">
                                <small id="mom" class="form-text text-muted">We'll never share your name with anyone else.</small>
                              </div>
                              <div class="form-group">
                                <label for="address">Address</label>
                                <input type="text" class="form-control" value="<%= data.address %>" name="address" id="address" aria-describedby="address">
                                <small id="address" class="form-text text-muted">We'll never share your name with anyone else.</small>
                              </div>
                              <div class="form-group">
                                
                                <label for="phone">Phone</label>
                                <input type="text" class="form-control"  value="<%= data.phone %>" name="phone" id="phone" aria-describedby="nameHelp">
                                <small id="phone" class="form-text text-muted">We'll never share your name with anyone else.</small>
                              </div>
                           
                           
                            <button type="submit" class="btn btn-primary">Submit</button>
                          </form>
              
            </div>
        </div>
    </div>
  </section>         
<%- include('partials/footer')%> 