<%- include('partials/nav')%> 

<p class="text-center display-4 text-uppercase">Listado de animales</p>
<div class="container-fluid">
<table class="table table-hover">
  <thead class="thead">
    <tr>
      <th scope="col">#</th>
                <th scope="col"> Name</th>
                <th scope="col">Raze</th>
                <th scope="col">Age</th>
                <th scope="col">Dad</th>
                <th scope="col">Mom</th>
                <th scope="col">Address</th>
                <th scope="col">Phone</th>
                <th scope="col">Handler</th>
              </tr>
            </thead>
            <tbody>
                <% if (data) { %>
                 
                   <% for( let dt = 0; dt < data.length; dt++ ) { %>
                   
                    <tr>
                        <th scope="row"><%= (dt+1); %> </th>
                        <td><%= data[dt].nameAnimal %></td>
                        <td><%= data[dt].raze %></td>
                        <td><%= data[dt].age %></td>
                        <td><%= data[dt].animalDad %></td>
                        <td><%= data[dt].animalMom %></td>
                        <td><%= data[dt].address %></td>
                        <td><%= data[dt].phone%></td>
                        <td><a href="/delete/<%= data[dt].id %>" class="btn btn-danger">
                            take out</a>
                            <a href="/update/<%= data[dt].id %>" class="btn btn-info">
                                Edit now</a>
                        </td>
                    </tr>
                    <% } %>
                         <% } %>
             
              
            </tbody>
          </table>
        </div>
 <%- include('partials/footer') %> 
   
<%- include('partials/footer')%> 
   